COMPOSE_PROJECT_NAME=uintell
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uintell
POSTGRES_PORT=5432
REDIS_PORT=6379
QDRANT_PORT=6333
MEILISEARCH_PORT=7700
OLLAMA_PORT=11434
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8233
API_PORT=8000
WEB_PORT=3000
